a{
    text-decoration: none;
    color: #4169E1;
}
a:hover{
    color: #000080;
}
body{
    margin:0;
    padding:0;
    background-color: #e0e5df;
}
#postListPage{
    margin: auto 200px;
}
.postList{
    background-color: #f5f5f5;
    border: 1px solid #778899;
    border-radius: 10px;
    padding: 80px;
}