a{
	text-decoration:none;
}
body{
	margin:0;
	padding:0;
	background-color: #f5f5f5;
}
.course_list{
	min-height:500px;
}
.course_list h4{
	font-size: 16px;
	font-weight: 400;
	color:#919191;
	text-align: center;
	margin-top: 20px;
}
/*=====================*/
.course_nav{
	height:50px;
	margin:70px auto 0 auto;
	font-size: 14px;
	width: 75%;
	background-color: cornflowerblue;
	border-radius: 5px;
}
.course_list .course_nav a{
	font-size: 14px;
	color:white;
	display: inline-block;
	padding:15px;
	border-radius: 5px;
	text-decoration: none;
	text-align: center;
	margin: auto 20px;
}
.course_nav a:hover{
	cursor: pointer;
	background-color: #97CBFF;
}
/*=======================*/
/*.selected{*/
/*	background-color: #43bc60 !important;*/
/*	color:white !important;*/
/*}*/
.course_container{
	width:1170px;
	margin: 0 auto;
	min-height: 30px;
}
.course{
	float:left;
	/*width:248px;*/
	padding:0 10px;
	margin:0 10px 20px 10px;
	height:230px;
	border:1px solid #e4ecf3;
	border-radius: 5px;
	background-color: white;
}
.course img{
	width:248px;
	height:139px;
	margin-top: 10px;
}
.course .person{
	width:20px;
	height:15px;
}
.course .number{
	color:#c1c1c1;
	font-size: 14px;
	position: relative;
	bottom: 1px;
}
.course_title{
	display: block;
	font-size: 14px;
	color: #616161;
	margin-top: 20px;
}
.clear{
	clear:both;
}
