<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>客户信息管理</title>
<!-- <link rel="stylesheet" type="text/css" href="../ui/themes/default/easyui.css"> -->
<!-- <script type="text/javascript" src="../ui/jquery.min.js"></script> -->
<!-- <script type="text/javascript" src="../ui/jquery.easyui.min.js"></script> -->
<!-- <script type="text/javascript" src="../ui/locale/easyui-lang-zh_CN.js"></script> -->
<link rel="stylesheet" type="text/css" href="../static/uimaker/easyui.css">
<link rel="stylesheet" type="text/css" href="../static/plugins/easyui/uimaker/icon.css">
<script type="text/javascript" src="../static/jquery.min.js"></script>
<script type="text/javascript" src="../static/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../static/easyui-lang-zh_CN.js"></script>

<script type="text/javascript" src="../js/custom.js"></script>
<script type="text/javascript">
	//定义column
	var columns_v = [ [ {
		field : 'custName',
		title : '客户名称',
		width : 100
	}, {
		field : 'custSource',
		title : '客户来源',
		width : 100,
		formatter : function(value, row, index) {
			if (row.baseDictByCustSource) {
				return row.baseDictByCustSource.dictItemName;
			}
		}
	}, {
		field : 'custIndustry',
		title : '所属行业',
		width : 100,
		formatter : function(value, row, index) {
			if (row.baseDictByCustIndustry) {
				return row.baseDictByCustIndustry.dictItemName;
			}
		}
	}, {
		field : 'custLevel',
		title : '客户级别',
		width : 100,
		formatter : function(value, row, index) {
			if (row.baseDictByCustLevel) {
				return row.baseDictByCustLevel.dictItemName;
			}
		}
	}, {
		field : 'custPhone',
		title : '固定电话',
		width : 100
	}, {
		field : 'custMobile',
		title : '移动电话',
		width : 100
	},

	{
		field : 'opt1',
		title : '操作',
		width : 120,
		formatter : function(value, row, index) {
			return "<a href='#' onclick=del('" + row.custId + "')>删除</a>";
		}
	} ] ];
	//定义工具栏
	var toolbar_v = [ {

		id : 'btnadd',//按钮 的id
		text : '添加',
		iconCls : 'icon-add',
		handler : function() {//点击按钮 执行事件
			alert('add')
		}
	} ];
	//加载datagrid，需要定义columns
	$(function() {
		//加载datagrid
		$('#grid').datagrid({
			title : '客户信息列表',//数据列表标题
			url : '../customer/list.action',
			idField : 'custId',//此字段很重要，数据结果集的唯一约束字段key
			columns : columns_v,
			pagination : true,//是否显示分页
			pageList : [ 1, 2, 3, 4, 10 ],
			pageSize : 10,//初始每页显示记录数
			rownumbers : true,//是否显示行号
			toolbar : toolbar_v
		});

	});
	//自定义条件查询
	function query() {
		//load方法向加载datagrid方法定义的url发送数据

		/* $('#grid').datagrid('load',{
			custName: '顾客'
		}); */
		//查询条件在form表单，需要将form表单中的数据格化成json数据，传给load
		//将form表单中输入框中值格化成json数据，使用工具类
		var formdata = getFormData('searchForm');

		$('#grid').datagrid('load', formdata);
	}
	//删除客户
	function del(id) {

		$.messager.confirm('删除提示', '确定删除吗?', function(r) {
			//当点击确定，r形参为true
			if (r) {
				//执行删除
				//通过ajax请求删除
				$.ajax({
					url : '../customer/deleteCustomer.action?custId=' + id,
					dataType : 'json',//预期服务端返回json
					success : function(result) {//形参result内容是deleteCustomer.action响应的结果，是json对象
						//提示操作结果
						$.messager.alert('提示', result.message);
						//如果删除成功刷新 列表

						if (result.success) {
							//刷新 datagrid
							//方法1，调用 query()
							//方法2，调用datagrid的reload方法
							$('#grid').datagrid('reload');
						}
					}

				});
			}
		});

	}
</script>
</head>
<body>
	<!-- 查询条件 -->
	<div class="easyui-panel">
		<form id="searchForm">
			<table cellpadding="5">
				<tr>
					<td>客户名称：</td>
					<td><input name="custName" /></td>

					<td>客户来源：</td>
					<td><input id="cc" class="easyui-combobox"
						name="baseDictByCustSource.dictId"
						data-options="valueField:'dictId',textField:'dictItemName',url:'../system/findBaseDictByTypecode.action?dictTypeCode=002'" />
					</td>

					<td>客户级别：</td>
					<td><input id="cc" class="easyui-combobox"
						name="baseDictByCustLevel.dictId"
						data-options="valueField:'dictId',textField:'dictItemName',url:'../system/findBaseDictByTypecode.action?dictTypeCode=006'" />
					</td>

					<td>所属行业：</td>
					<td><input id="c3" class="easyui-combobox"
						name="baseDictByCustIndustry.dictId"
						data-options="valueField:'dictId',textField:'dictItemName',url:'../system/findBaseDictByTypecode.action?dictTypeCode=001'" />
					</td>
				</tr>
			</table>

			<button type="button" id="btnSearch" onclick="query()">查询</button>
		</form>
	</div>
	<!-- 客户信息列表 -->
	<table id="grid"></table>

	<div id="win" class="easyui-window" title="My Window"
		style="width: 600px; height: 400px"
		data-options="iconCls:'icon-save',modal:true">
		<form id="ff" method="post">
			<div>
				<label for="name">Name:</label> <input class="easyui-validatebox"
					type="text" name="name" data-options="required:true" />
			</div>
			<div>
				<label for="email">Email:</label> <input class="easyui-validatebox"
					type="text" name="email" data-options="validType:'email'" />
			</div>
		</form>
	</div>
</body>
</html>
